<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ru.cj.servlets.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddHouse</servlet-name>
        <servlet-class>ru.cj.servlets.AddHouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHouse</servlet-name>
        <url-pattern>/add_house/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelHouse</servlet-name>
        <servlet-class>ru.cj.servlets.DelHouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelHouse</servlet-name>
        <url-pattern>/del_house/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>ru.cj.filters.AuthFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--<session-config>
        <session-timeout>525600</session-timeout>
        <cookie-config>
            <max-age>31536000</max-age>
        </cookie-config>
    </session-config> -->

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>